.attachfiles{
    font-size: 15px;
    font-family: Arial;
    font-weight: 600;
}

.fileitemslist{
    font-size: 14px;
    font-family: Arial;
}

.listoffileshere{
    width:100%;
    max-height:60px;
    overflow-y:scroll;
}
