.modal-title {
    font-size: 1em;
    margin-bottom: 20px;
    font-family: arial;
  }
  
  .form-error-msg {
    color: rgb(204, 22, 22);
  }
  
  .modal-body {
    min-width: 400px;
  
    .input-text {
      resize: none;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 17px;
      font-family: arial;
    }

    .requestStatus{
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
    }

    input[type='select']{
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 1.15em;
    }
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    gap: 20px;
  
    .modalsubmitbtn {
      min-width: 120px;
      font-family: arial;
      border: white 0.7px solid;
      border-radius: 3px;
      padding: 10px 0px 10px 0px;
      background-color: #21618C;
      color: white;
      box-shadow: 5px;
    }
    .modalcancelbtn {
      min-width: 120px;
      font-family: arial;
      border: grey 0.7px solid;
      border-radius: 4px;
      padding: 10px 0px 10px 0px;
      box-shadow: 5px;
    }
  }
  
  
  .field-msg {
    margin-top: 8px;
  }
  
  .input-lable {
    margin-bottom: 10px;
    * {
      display: block;
    }
    label {
      padding: 10px 0;
      font-family: arial;
      font-size: 16px;
    }
  
    input {
      width: 100%;
    }
  }
  